p {
    color: whitesmoke;
    font-size: 18px;
}

h3 {
    color: whitesmoke;
}

.menuParentContainer {
    width : 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: green;
}

.buttonRow {
    width: 60%;
    display: flex;
    background-color: cyan;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 5%;
}

.buttonPair {
    width:100%;
    background-color: red;
    margin: 1em;
    display: flex;
    flex-direction: row;
}

.copyButton {
    margin: 1em;
    width: 45%;
}

.previewButton {
    margin: 1em;
    width: 45%;
}
