
.buttonContainer {
    width: 50%;
    background-color: red;
    border-width: 1px;
    border-color: black;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.buttonRow {
    display: flex;
    background-color: green;
    width: 50%;
    margin: auto;
    justify-content: space-around
}

